<!-- Container-fluid starts-->
<div class="container-fluid">

<div class="row group-btn">
        <button type="button" class="btn btn-primary">All</button>
        <button type="button" class="btn btn-outline-dark">Upcomming</button>
        <button type="button" class="btn btn-outline-dark">In Progress</button>
        <button type="button" class="btn btn-outline-dark">Completed</button>
        <button type="button" class="btn btn-outline-dark">Sort</button>
</div>


        <section class="row list-card mt-5">
                <div class="col-md-12">
                        <div id="jxgbox" class="jxgbox" style="width:500px; height:500px">
                        </div>
                        <div class="card">
                                <div class="card-body">
                                        <div class="row">
                                                <div class="col-md-2">
                                        <figure>
                                                <img src="assets/images/digital-product/graphic-design.png" class="w-100" alt="">
                                        </figure>
                                                </div>
                                                <div class="col-md-8">
                                                        <h4 class="t-period"><span class="font-weight-bold">Math 2nd period </span><small>with <span class="t-name font-weight-bold">Martha stewart</span></small> </h4>
                                                        <p><small>Subject: </small> <span class="t-name font-weight-bold">Mathematics</span></p>
                                                        <p><small>Start: </small> <span class="t-name font-weight-bold">23 Jan 2021, 08:00 AM</span> &nbsp; &nbsp;
                                                                <small>End: </small> <span class="t-name font-weight-bold">23 Jan 2021, 08:00 AM</span>
                                                        </p>
                                                        <button type="button" class="btn btn-success">Not Started</button>

                                                </div>
                                                <div class="col-md-2 d-flex justify-content-center align-items-center">
                                                        <button type="button" class="btn btn-primary" disabled>Enter</button>
                                                </div>
                                        </div>
                                </div>
                        </div>


                        <div class="card">
                                <div class="card-body">
                                        <div class="row">
                                                <div class="col-md-2">
                                                        <figure>
                                                                <img src="assets/images/digital-product/graphic-design.png" class="w-100" alt="">
                                                        </figure>
                                                </div>
                                                <div class="col-md-8">
                                                        <h4 class="t-period"><span class="font-weight-bold">Math 2nd period </span><small>with <span class="t-name font-weight-bold">Martha stewart</span></small> </h4>
                                                        <p><small>Subject: </small> <span class="t-name font-weight-bold">Mathematics</span></p>
                                                        <p><small>Start: </small> <span class="t-name font-weight-bold">23 Jan 2021, 08:00 AM</span> &nbsp; &nbsp;
                                                                <small>End: </small> <span class="t-name font-weight-bold">23 Jan 2021, 08:00 AM</span>
                                                        </p>
                                                        <button type="button" class="btn btn-warning">In Progress</button>

                                                </div>
                                                <div class="col-md-2 d-flex justify-content-center align-items-center">
                                                        <button type="button" class="btn btn-primary">Enter</button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        </div>
<!-- Container-fluid Ends-->




